[submodule "lanyon-hugo"]
	path = lanyon-hugo
	url = https://github.com/tummychow/lanyon-hugo.git
[submodule "themes/lanyon"]
	path = themes/lanyon
	url = https://github.com/tummychow/lanyon-hugo.git
